
    .hero {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: url(../assets/homepage.png) center center/ cover no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;
    }

    html,body{
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
   
    .hero::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.35));
    }

    .hero-content {
      position: relative;
      z-index: 2;
      max-width: 80vw;
      padding: 2rem; 
    }

    .hero h1 {
      font-family: "Playfair Display", serif;
      font-size: 4.5vw;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 2rem;
      color: #fff;
      text-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
    }

    .hero button {
      background: #fff;
      color: #111;
      border: none;
      padding: 1rem 2.4rem;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    .hero button:hover {
      background: #c9a15b;
      color: #fff;
      transform: translateY(-2px);
    }

    .footer{
        position: fixed;
        bottom: 30px;
        right: 0;
        z-index: 10;
    }

    .logo{
        height: 10vh;
        width: auto;
        object-fit: contain;
    }

    @media (max-width: 768px) {
    
    .hero-content {
      position: relative;
      z-index: 2;
      max-width: 100vw;
      padding: 2rem; 
    }

    .hero h1 {
      font-size: 10vw;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 3rem;
    }

    .hero button {
      padding: 1rem 2.4rem;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    .footer{
        left: 50%;
        transform: translate(-50%);
    }

    }