<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse proprties</title>
</head>
<body>
    <section class="browse">
  <div class="property-grid">
    
    <div class="property-card">
         <button class="favorite-btn" aria-label="Add to favorites">
        <svg class="heart" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                   C13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <img src="frontend/assets/villa1.webp" alt="Luxury Villa">
      <div class="card-content">
        <h3>Luxury Villa</h3>
        <p class="location">📍 Los Angeles, CA</p>
        <p class="price">$1,200,000</p>
        <p class="description">A stunning 5-bedroom villa with an ocean view and modern interior design.</p>
      </div>
    </div>

    <div class="property-card">
         <button class="favorite-btn" aria-label="Add to favorites">
        <svg class="heart" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                   C13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <img src="frontend/assets/apartment1.jpg" alt="Modern Apartment">
      <div class="card-content">
        <h3>Modern Apartment</h3>
        <p class="location">📍 New York City, NY</p>
        <p class="price">$850,000</p>
        <p class="description">Elegant apartment located in the heart of NYC, close to all major landmarks.</p>
      </div>
    </div>

    <div class="property-card">
         <button class="favorite-btn" aria-label="Add to favorites">
        <svg class="heart" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                   C13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <img src="frontend/assets/vacationhouse.webp" alt="Vacation house">
      <div class="card-content">
        <h3>Cozy Cottage</h3>
        <p class="location">📍 Aspen, CO</p>
        <p class="price">$640,000</p>
        <p class="description">A peaceful mountain retreat surrounded by nature with a charming design.</p>
      </div>
    </div>


    <div class="property-card">
         <button class="favorite-btn" aria-label="Add to favorites">
        <svg class="heart" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                   C13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <img src="frontend/assets/penthouse.jpg" alt="Penthouse">
      <div class="card-content">
        <h3>Modern Penthouse</h3>
        <p class="location">📍 Chicago, IL</p>
        <p class="price">$2,200,000</p>
        <p class="description">Two story penthouse with 360 view in the city center.</p>
      </div>
    </div>


    
    <div class="property-card">
         <button class="favorite-btn" aria-label="Add to favorites">
        <svg class="heart" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                   C13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <img src="frontend/assets/studio.jpg" alt="Studio Apartment">
      <div class="card-content">
        <h3>Luxury Studio Apartment</h3>
        <p class="location">📍 New York City, NY</p>
        <p class="price">$500,000</p>
        <p class="description">A small but luxury studio apartment in the heart of New York City.</p>
      </div>
    </div>

    
    <div class="property-card">
         <button class="favorite-btn" aria-label="Add to favorites">
        <svg class="heart" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                   C13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <img src="frontend/assets/poolvilla.jpg" alt="Cozy Cottage">
      <div class="card-content">
        <h3>Modern villa </h3>
        <p class="location">📍 Los Angeles, CA</p>
        <p class="price">$1,050,000</p>
        <p class="description">A modern villa with a 50-meter pool.</p>
      </div>
    </div>

  </div>

   
</section>

</body>
</html>